.header {
    position: fixed;
    width: 100%;
    z-index: 4;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 4px rgba(40, 36, 36, 0.82);
}

.loginBlock {

}

.loginNameAndLogOut {
    display: flex;
    align-items: center;
    color: #F1F1EF;
    font-size: 25px;
}