.header {
    width: 100%;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 4px rgba(40, 36, 36, 0.82);
}
.toolbar img {
    width: 55px;
    height: 55px;
}

.loginBlock {

}

.loginNameAndLogOut {
    display: flex;
    align-items: center;
    color: #F1F1EF;
    font-size: 25px;
}