
.nav {
  grid-area: n;
  background-color: #73a24e;
  border:1px solid black;
  margin-left: 5px;
  padding: 20px;
}

.item{
color: white;
text-decoration: none;
}

.activeStyle {
    color: deeppink;
    text-decoration: none;
}