.profileDataForm {
    display: flex;
    text-align: left;
}
.button {
    text-align: center;
}


.contact {
    text-align: center;
    padding-left: 10px;
}
.contacts label {
    text-align: center;
}