.app-wrapper {
  margin: 0;
  display: grid;
  grid-template-areas:
  /*По какому шаблому grid будет выстроен*/
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 7fr;
  grid-gap: 5px;
}

