.dialogsBlock {
    height: calc(100vh - 64px);
    padding-top: 50px;
}

.dialogsItems {
    padding: 10px;

}

.dialogsContent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;
}

.messages {
    padding: 10px;
    border: 2px solid;
    height: 100%;
    flex: 1;
    overflow: auto;
}

.typeAndSend {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: flex-end;
    flex: 0;
    width: 100%;
}
