.dialogsBlock {
    height: calc(100vh - 64px);
    overflow: auto;
    padding-top: 50px;
}

.dialogsItems {
    padding: 10px;

}

.dialogsContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages {
    padding: 10px;
}

.typeAndSend {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: flex-end;
}
